[submodule "test/lib/Catch2"]
	path = test/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/libpll"]
	path = lib/libpll
	url = https://github.com/xflouris/libpll-2
[submodule "doc/writup"]
	path = doc/writup
	url = https://git.overleaf.com/5c7e5a5c640a820f2582597e
	branch = master
